$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1500px;

//colors
$white: #ffffff;
$main-color: #5ba199;
$main-color-light: #87ede1;
$main-color-dark: #28544f;
$additional-color: #a39c99;
$additional-color-light: #f0e6e1;
$additional-color-dark: #635f5d;

$regular-font: "Roboto", sans-serif;
