.button {
  border-radius: 50%;
  color: $white;
  border: 2px solid $white;
  background-color: $main-color-dark;

  &--sign {
    background-color: $additional-color;
    border: none;
  }

  &--clear {
    background-color: $additional-color-light;
    color: $additional-color-dark;
    border: none;
  }

  &--wide {
    border-radius: 50px;
  }

  &--clear-wide {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &--equal-wide {
    grid-column-start: 3;
    grid-column-end: 5;
  }
}
