.calculator-grid {
  background-color: $main-color-dark;
  width: min-content;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(6, 50px);
  margin: 40px auto;
  border-radius: 5px;
  box-shadow: inset 0 0 6px 2px $main-color-light;
  padding: 60px 40px 40px;
  gap: 10px;

  @include xl {
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(6, 80px);
  }

  // @include lg {
  //   grid-template-columns: repeat(4, 100px);
  //   grid-template-rows: repeat(6, 100px);
  // }
}
