@import "./common/variables";
@import "./common/normalizecss";
@import "./common/mixins";
@import "./blocks/calculator-grid";
@import "./blocks/button";
@import "./blocks/math-expression";

body {
  background-color: $main-color;
  color: $white;
  font-family: $regular-font;
  font-size: 20px;

  @include xl {
    font-size: 24px;
  }
}
